/* ===================================
=colors
=================================== */

:root {
  /* base colors (not used in CSS) */
  --color-white: #ffffff;
  --color-gray-100: hsl(0, 4%, 10%);
  --color-gray-200: hsl(0, 4%, 20%);
  --color-gray-300: hsl(0, 4%, 30%);
  --color-gray-400: hsl(0, 4%, 40%);
  --color-gray-500: hsl(0, 4%, 65%);
  --color-gray-600: hsl(0, 4%, 75%);
  --color-gray-700: hsl(0, 4%, 85%);
  --color-gray-800: hsl(0, 4%, 95%);

  --color-orange-main: #e36941;

  /* incident colors (used in CSS) */
  --color-background: var(--color-white);
  --color-text: var(--color-gray-100);
  --color-text-offset: var(--color-gray-400);

  --color-background-inverse: var(--color-gray-100);
  --color-text-inverse: var(--color-white);

  --color-accent: var(--color-orange-main);

  /* fonts */
  --fontstack-main: system-ui, "Roboto", sans-serif;
  --fontstack-alt: "Satoshi", "Helvetica Neue", "Helvetica", sans-serif;

  /* grid */
  --grid-gutter: 18px;
}

/* ===================================
=fonts
=================================== */

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi-variable.woff2") format("woff2-variations");
  src: url("../fonts/satoshi-variable.woff2") format("woff2") tech("variations");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi-variable-italic.woff2") format("woff2-variations");
  src: url("../fonts/satoshi-variable-italic.woff2") format("woff2")
    tech("variations");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

/* ===================================
=animations
=================================== */

@keyframes reelImage {
  0% {
    rotate: -6deg;
    scale: 0.9;
  }

  100% {
    rotate: 0deg;
    scale: 1;
  }
}

@keyframes reelLeft {
  0% {
    translate: 100%;
  }

  100% {
    translate: 0;
  }
}

@keyframes reelRight {
  0% {
    translate: -100%;
  }

  100% {
    translate: 0;
  }
}

@keyframes reelUp {
  0% {
    translate: 0 calc(100% + 18px);
  }

  100% {
    translate: 0 0;
  }
}

@keyframes reelDown {
  0% {
    translate: 0 calc(-100% - 18px);
  }

  100% {
    translate: 0 0;
  }
}

@keyframes projectsInOut {
  entry 0% {
    opacity: 0;
    translate: 0 120px;
  }

  entry 100% {
    opacity: 1;
    translate: 0 0;
  }

  exit 50% {
    opacity: 1;
    translate: 0 0;
  }

  exit 100% {
    opacity: 0;
    translate: 0 -120px;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ===================================
=nuke margin block start
=================================== */

*,
*::before,
*::after {
  margin-block-start: 0;
}

/* ===================================
=html
=================================== */

html {
  font: 400 100%/1.62 var(--fontstack-main);
}

/* ===================================
=body
=================================== */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

body.has-menu {
  overflow-y: hidden;
}

/* ===================================
=links 
=================================== */

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: var(--color-text);
}

a:hover,
a:hover {
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

/* ===================================
=address 
=================================== */

address {
  font-style: normal;
}

/* ===================================
=titles 
=================================== */

.c-h2 {
  font-weight: 550;
  font-size: clamp(49 / 16 * 1rem, 1rem + 4vw, 93 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.14;
  margin-bottom: 0.72em;
}

/* ===================================
=header
=================================== */
.c-heroheader {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto;
  background-color: var(--color-background-inverse);
}

/* header navbar */
.c-heroheader__navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 2;
}

/* header image */
.c-heroheader__img {
  position: relative;
  z-index: 1;

  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.c-heroheader__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-heroheader__img > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

/* header content */
.c-heroheader__content {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  z-index: 2;
  padding-block: calc(60 / 16 * 1rem);
  color: var(--color-white);
}

@media all and (min-width: 750px) {
  .c-heroheader__content {
    padding-block: calc(90 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .c-heroheader__content {
    padding-block: calc(120 / 16 * 1rem);
  }
}

.c-heroheader__title {
  font-weight: 500;
  font-size: clamp(61 / 16 * 1rem, 1rem + 7vw, 119 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.02;
  margin-bottom: 0.5em;
}

.c-heroheader__title span {
  display: block;
}

.c-heroheader__intro {
  font-size: calc(18 / 16 * 1rem);
  max-width: 52ch;
}

@media all and (min-width: 1200px) {
  .c-heroheader__intro {
    font-size: calc(20 / 16 * 1rem);
  }
}

/* ===================================
=navbar
=================================== */

.c-navbar {
  --vpadding: calc(24 / 16 * 1rem);

  padding-block: var(--vpadding);
  color: var(--color-white);

  border-block-end: 1px solid rgba(255, 255, 255, 0.18);
}

@media all and (min-width: 750px) {
  .c-navbar {
    --vpadding: calc(30 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .c-navbar {
    --vpadding: calc(36 / 16 * 1rem);
  }
}

.c-navbar__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-navbar__logo {
  margin: 0;
  padding: 0;
  margin-inline-end: auto;
}

.c-navbar__nav {
  display: none;
}

.c-navbar__hamburger {
  margin: 0;
}

.c-navbar__hamburger a,
.c-navbar__hamburger img {
  display: block;
}

@media all and (min-width: 1024px) {
  .c-navbar__nav {
    display: block;
  }

  .c-navbar__hamburger {
    display: none;
  }
}

/* ===================================
=mainnav
=================================== */

.c-mainnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(24 / 16 * 1rem);
}

.c-mainnav__link {
  position: relative;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  font-family: var(--fontstack-alt);

  display: inline-block;
  padding: calc(5 / 16 * 1rem) 0;
  text-decoration: none;
  color: var(--color-text-inverse);
}

.c-mainnav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-text-inverse);
  transform: scaleX(0);
  transform-origin: 50% 50%;

  transition: transform 0.2s ease-out;
}

.c-mainnav__link:hover::after {
  transform: scaleX(1);
}

/* ===================================
=mobile menu
=================================== */

.c-mobilemenu {
  z-index: 9999;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: calc(24 / 16 * 1rem);
  background-color: var(--color-background-inverse);

  /* caché par defaut */
  display: none;
}

@media all and (min-width: 750px) {
  .c-mobilemenu {
    padding: calc(30 / 16 * 1rem);
  }
}

.c-mobilemenu.is-active {
  --menuAnimDuration: 0.2s;

  /* remettre en flex et pas en box */
  display: flex;

  animation-name: appear;
  animation-duration: var(--menuAnimDuration);
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@media all and (min-width: 1024px) {
  .c-mobilemenu,
  .c-mobilemenu.is-active {
    display: none;
  }
}

.c-mobilemenu__actions {
  flex: 0 0 auto;
  text-align: end;
}

.c-mobilemenu__body {
  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.c-mobilemenu__close {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/icon_menuclose.svg) 50% 50% no-repeat;
}

/* ===================================
=mobile nav
=================================== */

.c-mobilenav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6px;
}

@media all and (min-width: 750px) {
  .c-mobilenav {
    gap: 12px;
  }
}

.c-mobilenav__item {
  overflow: hidden;
}

.c-mobilenav__link {
  display: inline-block;
  font-weight: 500;
  font-size: calc(40 / 16 * 1rem);
  line-height: 1.02;
  font-family: var(--fontstack-alt);
  color: var(--color-text-inverse);
  text-decoration: none;
}

@media all and (min-width: 750px) {
  .c-mobilenav__link {
    font-size: calc(61 / 16 * 1rem);
  }
}

.has-menu .c-mobilenav__link {
  --linkAnimDuration: 0.3s;
  --linkAnimDelay: 0s;

  animation-name: slideUp;
  animation-duration: var(--linkAnimDuration);
  animation-timing-function: ease-out;
  animation-delay: calc(var(--menuAnimDuration) + var(--linkAnimDelay));
  animation-fill-mode: both;
}

/* ===================================
=projects list
=================================== */

.c-projectslist {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: var(--grid-gutter);
  row-gap: calc(36 / 16 * 1rem);
}

@media all and (min-width: 500px) {
  .c-projectslist {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media all and (min-width: 750px) {
  .c-projectslist {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: calc(60 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .c-projectslist {
    row-gap: calc(90 / 16 * 1rem);
  }
}

@media all and (min-width: 1200px) {
  .c-projectslist {
    row-gap: calc(120 / 16 * 1rem);
  }
}

.c-projectslist__item {
  view-timeline-name: --projectTimeline;
  view-timeline-axis: block;
}

@media all and (min-width: 750px) {
  .c-projectslist__item:nth-child(4n - 3) {
    grid-column: 1 / span 5;
  }

  .c-projectslist__item:nth-child(4n - 2) {
    grid-column: 7 / span 6;
  }

  .c-projectslist__item:nth-child(4n - 1) {
    grid-column: 1 / span 6;
  }

  .c-projectslist__item:nth-child(4n) {
    grid-column: 8 / span 5;
  }
}

/* ===================================
=project card
=================================== */

.c-projectcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 18px;

  animation-timeline: --projectTimeline;
  animation-name: projectsInOut;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.c-projectcard__link {
  display: block;
  text-decoration: none;
}

.c-projectcard__media {
  overflow: hidden;
  margin-block-end: calc(24 / 16 * 1rem);
}

.c-projectcard__img {
  transition: transform 0.2s ease-out;
}

a:hover .c-projectcard__img {
  transform: scale(1.012);
}

.c-projectcard__title {
  font-weight: 500;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.32;
  font-family: var(--fontstack-alt);
  color: var(--color-text);
  margin-block-end: calc(3 / 16 * 1rem);
}

a:hover .c-projectcard__title {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.c-projectcard__description {
  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.32;
  font-family: var(--fontstack-alt);
  color: var(--color-text-offset);
  margin-block-end: 0;
}

/* ===================================
=reel 
=================================== */

.c-reel {
  margin-inline: 10vw;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  gap: var(--grid-gutter);

  view-timeline-name: --reelTimeline;
  view-timeline-axis: block;
}

@media all and (min-width: 750px) {
  .c-reel {
    margin-inline: calc(60 / 16 * 1rem);
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  }
}

.c-reel::before,
.c-reel::after {
  position: relative;
  z-index: 1;
  font-weight: 550;
  font-size: clamp(49 / 16 * 1rem, 1rem + 4vw, 93 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.14;
}

.c-reel::before {
  content: "Play";
  text-align: center;

  animation-name: reelUp;
  animation-timeline: --reelTimeline;
  animation-range: entry 20% cover 60%;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@media all and (min-width: 750px) {
  .c-reel::before {
    text-align: end;

    animation-name: reelLeft;
    animation-range: entry 20% cover 50%;
  }
}

.c-reel::after {
  content: "Reel";
  text-align: center;

  animation-name: reelDown;
  animation-timeline: --reelTimeline;
  animation-range: entry 20% cover 50%;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@media all and (min-width: 750px) {
  .c-reel::after {
    text-align: start;

    animation-name: reelRight;
  }
}

.c-reel__playerlink {
  position: relative;
  z-index: 2;
  display: block;
  text-decoration: none;
}

.c-reel__playerimage {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

@media all and (min-width: 750px) {
  .c-reel__playerimage {
    animation-name: reelImage;
    animation-timeline: --reelTimeline;
    animation-range: cover 10% cover 50%;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
}

.c-reel__playerlink::before {
  --icon-width: 54px;

  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: var(--icon-width);
  height: var(--icon-width);
  margin-block-start: calc(var(--icon-width) / 2 * -1);
  margin-inline-start: calc(var(--icon-width) / 2 * -1);
  background: url(../img/icon_play.svg) 50% 50% no-repeat;
  background-size: cover;
  opacity: 0.84;
  scale: 1;
  transition: opacity 0.2s ease-out, scale 0.2s ease-out;
}

.c-reel__playerlink:hover::before {
  opacity: 1;
  scale: 1.08;
}

/* ===================================
=gallery 
=================================== */

.c-gallery {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--grid-gutter);
}

.c-gallery__item {
  grid-column: span 6;
}

@media all and (min-width: 750px) {
  .c-gallery__item {
    grid-column: span 3;
  }
}

.c-gallery__item--large {
  grid-column: span 12;
}

@media all and (min-width: 750px) {
  .c-gallery__item--large {
    grid-column: span 6;
  }
}

.c-gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===================================
=grid 
=================================== */

.l-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--grid-gutter);
}

.l-grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--3cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.l-grid--4cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media all and (min-width: 500px) {
  .l-grid--2cols\@small {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@small {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@small {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media all and (min-width: 750px) {
  .l-grid--2cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@medium {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@medium {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media all and (min-width: 1024px) {
  .l-grid--2cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@large {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@large {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* ===================================
=pagesection 
=================================== */

.c-pagesection {
  --section-color-bkg: var(--color-background);
  --section-color-text: var(--color-text);

  padding-block: calc(60 / 16 * 1rem);
  background-color: var(--section-color-bkg);
  color: var(--section-color-text);
}

@media all and (min-width: 750px) {
  .c-pagesection {
    padding-block: calc(90 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .c-pagesection {
    padding-block: calc(120 / 16 * 1rem);
  }
}

.c-pagesection__block + .c-pagesection__block {
  margin-block-start: calc(90 / 16 * 1rem);
}

@media all and (min-width: 750px) {
  .c-pagesection__block + .c-pagesection__block {
    margin-block-start: calc(120 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .c-pagesection__block + .c-pagesection__block {
    margin-block-start: calc(180 / 16 * 1rem);
  }
}

/* ===================================
=container 
=================================== */

.l-container {
  margin: 0 auto;
  max-width: 1500px;
  padding-inline: calc(24 / 16 * 1rem);
}

@media all and (min-width: 750px) {
  .l-container {
    padding-inline: calc(30 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .l-container {
    padding-inline: calc(48 / 16 * 1rem);
  }
}

.l-container--medium {
  max-width: 1200px;
}

/* ===================================
=fluid images
=================================== */

.o-fluidimg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===================================
=spacing utilities
=================================== */

.u-mb-none {
  margin-block: 0 !important;
}

.u-mbs-none {
  margin-block-start: 0 !important;
}

.u-mbe-none {
  margin-block-end: 0 !important;
}

/* ===================================
=text alignment utilities
=================================== */

.u-align-start {
  text-align: start !important;
}

.u-align-end {
  text-align: end !important;
}

.u-align-center {
  text-align: center !important;
}
